
/* font-family */
html {
    font-family: Arial, Helvetica, sans-serif;
}


/* font-size */
header {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.65rem;
    }
}
label {
    font-size: 0.8rem;
    font-weight: bold;
}
#editor {
    font-size: 12px;
}
