/* partials */
@import 'layout';
@import 'typo';
@import 'effect';


/* initial rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.io * {
    margin: revert;
    padding: revert;
}
header,
main {
  min-width: 300px;
}